{% extends 'index.html' %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Видаткова накладна</title>
        <link href="/static/css/list.css" rel="stylesheet">
    </head>
    <body>
    <h1>Видаткова накладна</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    <strong style="color: darkred" class="{{ message.category }}">{{ message }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <table>
        <thead>
        <tr>
            <th scope="col">Накладна</th>
            <th scope="col">Створено за</th>
            <th scope="col">Кількість</th>
            <th scope="col">Комісія</th>
            <th scope="col">Податкова накладна</th>
            <th scope="col">Оплата з комісією</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ expense_invoice.id }}</td>
            <td>{{ expense_invoice.expense_date }}</td>
            <td>{{ expense_invoice.amount }}</td>
            <td>{{ tax_invoice.amount }} грн</td>
            <td>
                    <a href="{{ url_for('tax_invoice.tax_invoice', order_id=expense_invoice.order.id) }}">Податкова накладна</a>
                </td>
            <td><strong
                    style="font-size: 35px; color: darkred">{{ (expense_invoice.amount * expense_invoice.order.product.price) + tax_invoice.amount }}
                грн</strong></td>
        </tr>
        </tbody>
    </table>
    </body>
    </html>
{% endblock %}
